.u-section-1 .u-sheet-1 {min-height: 834px}
.u-section-1 .u-layout-wrap-1 {margin: 55px auto 55px 0}
.u-section-1 .u-layout-cell-1 {min-height: 724px}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {margin: 246px 0 0}
.u-section-1 .u-text-2 {margin-bottom: 0; margin-top: 20px}
.u-section-1 .u-text-3 {line-height: 26px; margin: 20px 98px 70px 49px}
.u-section-1 .u-layout-cell-2 {min-height: 724px}
.u-section-1 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-image-1 {width: 723px; height: 614px; object-position: 27.98% 50%; background-position: 27.98% 50%; margin: 55px auto 0 -173px} 

@media (max-width: 1199px){ .u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-text-1 {position: relative}
.u-section-1 .u-text-2 {position: relative}
.u-section-1 .u-text-3 {margin-right: 81px; margin-left: 40px}
.u-section-1 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-image-1 {width: 438px; height: 372px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-3 {margin-right: 51px; margin-left: 26px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 289px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 815px}
.u-section-1 .u-layout-wrap-1 {margin-top: 40px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 378px}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-text-1 {margin-top: 66px}
.u-section-1 .u-text-3 {margin-right: 24px; margin-left: 12px}
.u-section-1 .u-layout-cell-2 {min-height: auto}
.u-section-1 .u-container-layout-2 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-image-1 {width: 340px; margin-left: 0; margin-right: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 437px}
.u-section-1 .u-layout-cell-1 {min-height: auto}
.u-section-1 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-text-3 {margin-right: 7px; margin-left: 4px}
.u-section-1 .u-container-layout-2 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-image-1 {height: 287px; width: 338px} }.u-section-2 {background-image: linear-gradient(0deg, rgba(255,255,255,0.45), rgba(255,255,255,0.45)), url("images/IMG_20150608_160047.jpg")}
.u-section-2 .u-sheet-1 {min-height: 324px}
.u-section-2 .u-image-1 {width: 597px; height: 314px; margin: -59px auto 30px} 

@media (max-width: 1199px){ .u-section-2 {background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 332px}
.u-section-2 .u-image-1 {width: 492px; height: 322px; margin-top: -67px; margin-bottom: 69px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 257px}
.u-section-2 .u-image-1 {width: 377px; height: 247px; margin-top: 8px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 306px}
.u-section-2 .u-image-1 {width: 353px; height: 296px; margin-top: -57px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {width: 340px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 1067px}
.u-section-3 .u-layout-wrap-1 {width: 830px; margin: 20px 0 0 auto}
.u-section-3 .u-layout-cell-1 {min-height: 146px}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-1 {margin-bottom: 0; margin-top: 23px}
.u-section-3 .u-text-2 {letter-spacing: 2px; font-size: 1.125rem; text-transform: none; margin: 20px 0 0 157px}
.u-section-3 .u-text-3 {margin: 20px 0 23px 157px}
.u-section-3 .u-layout-cell-2 {min-height: 901px}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-layout-cell-3 {min-height: 901px}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-text-4 {margin: 23px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 1029px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 250px}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {position: relative}
.u-section-3 .u-text-2 {margin-left: 129px}
.u-section-3 .u-text-3 {position: relative; margin-left: 129px}
.u-section-3 .u-layout-cell-2 {min-height: 651px; background-position: 50% 50%}
.u-section-3 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-layout-cell-3 {min-height: 651px}
.u-section-3 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-4 {position: relative} }

@media (max-width: 991px){ .u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {margin-left: 82px}
.u-section-3 .u-text-3 {margin-left: 82px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 669px}
.u-section-3 .u-layout-cell-1 {min-height: auto}
.u-section-3 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-text-2 {margin-left: 74px}
.u-section-3 .u-text-3 {margin-left: 74px}
.u-section-3 .u-layout-cell-2 {min-height: NaNpx}
.u-section-3 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-container-layout-3 {padding-left: 9px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 832px}
.u-section-3 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-2 {margin-left: 47px}
.u-section-3 .u-text-3 {margin-left: 47px}
.u-section-3 .u-layout-cell-2 {min-height: 541px}
.u-section-3 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-layout-cell-3 {min-height: auto}
.u-section-3 .u-container-layout-3 {padding-left: 6px; padding-right: 6px} }.u-section-4 .u-sheet-1 {min-height: 818px}
.u-section-4 .u-layout-wrap-1 {width: 1091px; margin: 60px auto 40px 69px}
.u-section-4 .u-image-1 {min-height: 718px; background-image: url("images/1541701215_DAN0187_NoticiaAmpliada.jpg"); background-position: 43.54% 50%}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-image-2 {width: 318px; height: 236px; margin: 462px auto 0 226px}
.u-section-4 .u-layout-cell-2 {min-height: 718px}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-1 {margin-bottom: 0; text-transform: uppercase}
.u-section-4 .u-text-2 {margin: 20px 1px 0 46px}
.u-section-4 .u-text-3 {text-transform: uppercase; margin: 34px auto 0 0}
.u-section-4 .u-text-4 {margin: 28px 0 0 46px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 822px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-image-1 {min-height: 667px}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-image-2 {margin-left: 120px}
.u-section-4 .u-layout-cell-2 {min-height: 667px}
.u-section-4 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {position: relative; margin-top: 15px}
.u-section-4 .u-text-2 {position: relative; margin-left: 38px}
.u-section-4 .u-text-4 {margin-left: 10px} }

@media (max-width: 991px){ .u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {margin-left: 22px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-2 {margin-left: 24px}
.u-section-4 .u-text-4 {margin-left: 0} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 799px}
.u-section-4 .u-image-1 {min-height: 644px}
.u-section-4 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-layout-cell-2 {min-height: auto}
.u-section-4 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-text-2 {margin-right: 0; margin-bottom: 65px; margin-left: 22px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 962px}
.u-section-4 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-image-2 {margin-left: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-4 .u-text-2 {margin-left: 14px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 318px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 10px 0}
.u-section-5 .u-layout-cell-1 {min-height: 308px}
.u-section-5 .u-container-layout-1 {padding-left: 25px; padding-right: 20px}
.u-section-5 .u-text-1 {margin: 40px -7px 0 7px}
.u-section-5 .u-text-2 {margin: 23px -7px 0 7px}
.u-section-5 .u-social-icons-1 {white-space: nowrap; height: 61px; min-height: 16px; width: 344px; min-width: 120px; margin: 23px auto 0 -9px}
.u-section-5 .u-icon-1 {height: 100%}
.u-section-5 .u-icon-2 {height: 100%}
.u-section-5 .u-icon-3 {height: 100%}
.u-section-5 .u-icon-4 {height: 100%}
.u-section-5 .u-icon-5 {height: 100%}
.u-section-5 .u-text-3 {margin: 20px -7px 0 auto} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 436px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 254px}
.u-section-5 .u-container-layout-1 {padding-left: 21px; padding-right: 16px}
.u-section-5 .u-text-1 {position: relative; margin-left: 0; margin-right: 0}
.u-section-5 .u-text-2 {position: relative; margin-left: 0; margin-right: 0}
.u-section-5 .u-social-icons-1 {width: 276px; margin-left: 0}
.u-section-5 .u-text-3 {margin-right: 0} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 361px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-container-layout-1 {padding-left: 13px; padding-right: 10px}
.u-section-5 .u-social-icons-1 {width: 217px} }

@media (max-width: 767px){ .u-section-5 .u-container-layout-1 {padding-left: 12px; padding-right: 9px} }

@media (max-width: 575px){ .u-section-5 .u-container-layout-1 {padding-left: 7px; padding-right: 6px} }